<div class="row">
  <div class="col-md-4 offset-md-4 text-center">
    <h2>Verify my email</h2>

      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= render partial: 'shared/devise_errors' %>

        <div class="form-group">
          <p>Enter the email address linked to your account. We'll send you a link to verify it.</p>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>

        <div class="actions">
          <%= f.submit "Resend email", class:"btn btn-primary" %>
        </div>
      <% end %>


  </div>
</div>