<div class="row">
  <div class="col-md-4 offset-md-4 text-center">
    <h2>Reset password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render partial: 'shared/devise_errors' %>

      <div class="form-group">
        <p>
          Enter the email associated with your account.
          We will email you a link to reset your password.
        </p>
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder:"email" %>
      </div>

      <div class="actions">
        <%= f.submit "Send me a link to reset password", class:"btn btn-primary" %>
      </div>
    <% end %>

  </div>
</div>